<header class="header">
  <div class="header-item">SAVED LISTS</div>
  <button class="header-item" (click)="openAddListDialog()">+ ADD LIST</button>
  <!-- [ngClass]="{ 'active-tab': activeTab==='lists'}" -->
  <!-- <div class="header-item" [ngClass]="{ 'active-tab': activeTab==='lists'}">SAVED FILTERS</div>
  <div class="header-item" [ngClass]="{ 'active-tab': activeTab==='history'}">SEARCH HISTORY</div> -->
  <input
    class="header-search-box"
    type="text"
    placeholder="Search"
    (keyup)="search($event)"
  />
</header>
<div class="container">
  <div class="lists-container">
    <div class="lists-header">
      <div class="list-item date-column">Date</div>
      <div class="list-item list-name-column">List Name</div>
      <div class="list-item number-column">No. of Entities</div>
      <div class="list-item actions-column">Actions</div>
    </div>
    <div
      class="list"
      [ngClass]="{ 'active-item': selectedItem === list }"
      *ngFor="let list of activeList"
      (click)="selectItem(list)"
    >
      <div class="list-item date-column">
        {{ list.date | date: "MMM d, yyyy" }}
      </div>
      <div class="list-item list-name-column">{{ list.name }}</div>
      <div class="list-item number-column">{{ list.details.length }}</div>
      <div class="list-item actions-column">
        <img
          class="modify-button"
          (click)="editList()"
          src="../assets/edit-button.svg"
        />
        <img
          class="modify-button"
          (click)="deleteList()"
          src="../assets/delete-button.svg"
        />
        <button class="details-button" (click)="showDetails(list)">
          Details
        </button>
      </div>
    </div>
  </div>
  <div class="description-container">
    <button
      [disabled]="!selectedItem"
      (click)="addDetails()"
      class="add-description-button"
    >
      + Add Description
    </button>
    <div class="details-container">
      <div class="details" *ngFor="let detail of details">{{ detail }}</div>
    </div>
  </div>
</div>
